@model List<Company>
@if (TempData["success"] != null)
{
	<h2>@TempData["success"]</h2>
}

<p>Search with name</p>
<form method="post">
<input type="text" name="TimKiem" />
<input type="submit" value="Search" />
</form>

<h1>Company Table</h1>
<div>
	<a asp-controller="Company" asp-action="Create">Create New Company</a>
</div>
	<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Street Address</th>
		<th>City</th>
		<th>State</th>
		<th>Postal Code</th>
		<th>Phone Number</th>
	</tr>
	@foreach(var a in Model)
	{
		<tr>
			<td>@a.Name</td>
			<td>@a.StreetAddress</td>
			<td>@a.City</td>
			<td>@a.State</td>
			<td>@a.PostalCode</td>
			<td>@a.PhoneNumber</td>
			<td><a asp-controller="Company" asp-action="Edit" asp-route-idd="@a.ID" >Edit</a></td>
			<td><a asp-controller="Company" asp-action="Delete" asp-route-idd="@a.ID" >Delete</a></td>
		</tr>
	}
</table>
