@model List<Product>
<form method="post">
	<label>Searh with name</label>
	<input type="text" name="TuKhoa"  />
	<input type="submit" value="okay" />
</form>
<p>@ViewBag.HienThi</p>
<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">
				Product List
			</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Product" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-coin"></i>Create product
			</a>
		</div>
	</div>


	<table id="tblData" class="table table-bordered table-striped">
		<thead>
			<tr>

				<th>Title</th>
				<th>ISBN</th>
				<th>Price</th>
				<th>Author</th>
				<th>Category</th>
				<th></th>
				<th></th>
				
			</tr>
		</thead>
		<tbody>
			
				@for(int i = 0; i < Model.Count; i++)
				{
<tr>
				<th>@Model[i].Title</th>
				<th>@Model[i].ISBN</th>
				<th>@Model[i].Price</th>
				<th>@Model[i].Author</th>
				<th>@Model[i].Category.Name</th>
				<th><a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-IDD="@Model[i].ID">Edit product</a></th>
				<th><a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-IDD="@Model[i].ID">Delete product</a></th>
				</tr>
				}
			
		</tbody>

	</table>
</div>
@section Scripts{
	<script src="~/js/product.js"></script>
}